In [11]:
import numpy as np
import pandas as pd
import pandas_datareader as web
from datetime import date

In [19]:
today = date.today()
data = web.DataReader('SPY', data_source = 'yahoo', start = '1/1/2000', end = today)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5057 entries, 2000-01-03 to 2020-02-07
Data columns (total 6 columns):
High         5057 non-null float64
Low          5057 non-null float64
Open         5057 non-null float64
Close        5057 non-null float64
Volume       5057 non-null float64
Adj Close    5057 non-null float64
dtypes: float64(6)
memory usage: 276.6 KB

In [20]:
#data = data.reset_index()
#data.head()

In [21]:
import sqlite3 as sq
data = data
sql_data = r'C:\Users\Nick\Desktop\ticker.db' #- Creates DB names SQLite

In [22]:
conn = sq.connect('ticker.db')
c = conn.cursor()

In [23]:
#cur.execute('DROP TABLE IF EXISTS ticker ') #DO NOT RUN.  THIS WILL DELETE EXISTING DATA
c.execute('CREATE TABLE SPY (Date, High, Low, Open, Close, Volume, Adj Close)')
conn.commit()

OperationalError: table SPY already exists

In [24]:
data.to_sql('SPY', conn, if_exists='replace', index = True)

In [25]:
c.execute('''SELECT * FROM SPY''')

#for row in c.fetchall():
#    print (row)

pd.read_sql('select * from SPY limit 5;', conn)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2000-01-03 00:00:00,148.25000,143.875000,148.25000,145.4375,8164300.0,99.978989
1,2000-01-04 00:00:00,144.06250,139.640625,143.53125,139.7500,8089800.0,96.069160
2,2000-01-05 00:00:00,141.53125,137.250000,139.93750,140.0000,12177900.0,96.241058
3,2000-01-06 00:00:00,141.50000,137.750000,139.62500,137.7500,6227200.0,94.694298
4,2000-01-07 00:00:00,145.75000,140.062500,140.31250,145.7500,8066500.0,100.193771

In [26]:
c.execute('''SELECT * FROM SPY''')
df = pd.DataFrame(c.fetchall(), columns= ['Date','High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'])    
df

,Date,High,Low,Open,Close,Volume,Adj Close
0,2000-01-03 00:00:00,148.250000,143.875000,148.250000,145.437500,8164300.0,99.978989
1,2000-01-04 00:00:00,144.062500,139.640625,143.531250,139.750000,8089800.0,96.069160
2,2000-01-05 00:00:00,141.531250,137.250000,139.937500,140.000000,12177900.0,96.241058
3,2000-01-06 00:00:00,141.500000,137.750000,139.625000,137.750000,6227200.0,94.694298
4,2000-01-07 00:00:00,145.750000,140.062500,140.312500,145.750000,8066500.0,100.193771
...,...,...,...,...,...,...,...
5052,2020-02-03 00:00:00,326.160004,323.220001,323.350006,324.119995,69242300.0,324.119995
5053,2020-02-04 00:00:00,330.010010,327.720001,328.070007,329.059998,62573200.0,329.059998
5054,2020-02-05 00:00:00,333.089996,330.670013,332.269989,332.859985,65951100.0,332.859985
5055,2020-02-06 00:00:00,334.190002,332.799988,333.910004,333.980011,50359700.0,333.980011
5056,2020-02-07 00:00:00,333.989990,331.600006,332.820007,332.200012,64088400.0,332.200012

In [27]:
conn.commit()
conn.close()

In [33]:
con = sq.connect('ticker.db')
 
def sql_fetch(con):
 
    cursorObj = con.cursor()
 
    cursorObj.execute('SELECT name from sqlite_master where type= "table"')
 
    print(cursorObj.fetchall())
 
sql_fetch(con)

[('GSPC',), ('SPY',)]

In [34]:
con = sq.connect('ticker.db')
conn.close()